### Reshape

In [47]:
import numpy as np

In [48]:
x = np.random.randn(4,5)
x

array([[-0.40267445,  0.364525  ,  1.13870548, -0.73130952, -2.95333508],
       [ 0.90260914, -3.01872503, -1.25262076,  2.13034019,  1.4774883 ],
       [-1.87721787,  0.10411306,  0.62659653, -0.11077566, -0.37401641],
       [ 0.12397663, -0.57593533, -0.31038344,  1.59053015, -0.20005505]])

In [49]:
x.reshape((2,2,5))              #row major order

array([[[-0.40267445,  0.364525  ,  1.13870548, -0.73130952,
         -2.95333508],
        [ 0.90260914, -3.01872503, -1.25262076,  2.13034019,
          1.4774883 ]],

       [[-1.87721787,  0.10411306,  0.62659653, -0.11077566,
         -0.37401641],
        [ 0.12397663, -0.57593533, -0.31038344,  1.59053015,
         -0.20005505]]])

In [50]:
x.reshape((2,2,5), order='F')   #colume major order

array([[[-0.40267445,  0.364525  ,  1.13870548, -0.73130952,
         -2.95333508],
        [-1.87721787,  0.10411306,  0.62659653, -0.11077566,
         -0.37401641]],

       [[ 0.90260914, -3.01872503, -1.25262076,  2.13034019,
          1.4774883 ],
        [ 0.12397663, -0.57593533, -0.31038344,  1.59053015,
         -0.20005505]]])

In [51]:
x.reshape((2,2,-1))

array([[[-0.40267445,  0.364525  ,  1.13870548, -0.73130952,
         -2.95333508],
        [ 0.90260914, -3.01872503, -1.25262076,  2.13034019,
          1.4774883 ]],

       [[-1.87721787,  0.10411306,  0.62659653, -0.11077566,
         -0.37401641],
        [ 0.12397663, -0.57593533, -0.31038344,  1.59053015,
         -0.20005505]]])

### Conversion

In [52]:
x               #Two dimentional array

array([[-0.40267445,  0.364525  ,  1.13870548, -0.73130952, -2.95333508],
       [ 0.90260914, -3.01872503, -1.25262076,  2.13034019,  1.4774883 ],
       [-1.87721787,  0.10411306,  0.62659653, -0.11077566, -0.37401641],
       [ 0.12397663, -0.57593533, -0.31038344,  1.59053015, -0.20005505]])

In [53]:
x.ravel()       #Convert in one dimentional array - 1st way

array([-0.40267445,  0.364525  ,  1.13870548, -0.73130952, -2.95333508,
        0.90260914, -3.01872503, -1.25262076,  2.13034019,  1.4774883 ,
       -1.87721787,  0.10411306,  0.62659653, -0.11077566, -0.37401641,
        0.12397663, -0.57593533, -0.31038344,  1.59053015, -0.20005505])

In [54]:
x.flatten()     #Convert in one dimentional array - 2nd way

array([-0.40267445,  0.364525  ,  1.13870548, -0.73130952, -2.95333508,
        0.90260914, -3.01872503, -1.25262076,  2.13034019,  1.4774883 ,
       -1.87721787,  0.10411306,  0.62659653, -0.11077566, -0.37401641,
        0.12397663, -0.57593533, -0.31038344,  1.59053015, -0.20005505])

### Concatenate

In [55]:
x = [[1,3,5], [7,9,0]]                  #List            
arr1 = np.array(x)                      #Convert this list into numpy array
y = [[11,13,15], [17,19,10]]            #List  
arr2 = np.array(y)                      #Convert this list into numpy array                           
np.concatenate((arr1, arr2), axis=0)    #Concate - row wise (v stack)

array([[ 1,  3,  5],
       [ 7,  9,  0],
       [11, 13, 15],
       [17, 19, 10]])

In [56]:
np.concatenate((arr1, arr2), axis=1)    #Concate - colume wise (h stack)

array([[ 1,  3,  5, 11, 13, 15],
       [ 7,  9,  0, 17, 19, 10]])

In [57]:
np.vstack((arr1, arr2))                 #Concate - row wise (v stack)

array([[ 1,  3,  5],
       [ 7,  9,  0],
       [11, 13, 15],
       [17, 19, 10]])

In [58]:
np.hstack((arr1, arr2))                 #Concate - colume wise (h stack)

array([[ 1,  3,  5, 11, 13, 15],
       [ 7,  9,  0, 17, 19, 10]])

### Split

In [59]:
x = [1,4,5,6,7,9,1,4]       #One dimensional array
x

[1, 4, 5, 6, 7, 9, 1, 4]

In [60]:
d = np.array(x)             #Convert array into np array

In [61]:
np.split(d, [2,5])          #Split np array rowwise (One dimentional)

[array([1, 4]), array([5, 6, 7]), array([9, 1, 4])]

In [62]:
y = [[1,4,5,6,7,9,1,4], [11,14,15,16,17,19,11,14]] #Two dimensional array
y

[[1, 4, 5, 6, 7, 9, 1, 4], [11, 14, 15, 16, 17, 19, 11, 14]]

In [63]:
d = np.array(y)             #Convert array into np array

In [64]:
np.split(d, [4,6], axis=1)  #Split np array by columewise (two dimentional)

[array([[ 1,  4,  5,  6],
        [11, 14, 15, 16]]),
 array([[ 7,  9],
        [17, 19]]),
 array([[ 1,  4],
        [11, 14]])]

In [65]:
np.split(d, [1], axis=0)

[array([[1, 4, 5, 6, 7, 9, 1, 4]]), array([[11, 14, 15, 16, 17, 19, 11, 14]])]

### Repeat and Tile

In [66]:
x = [1,5,7,8]       #One dimensional array
d = np.array(x)     #Convert array into np array

In [67]:
np.repeat(d, 3)

array([1, 1, 1, 5, 5, 5, 7, 7, 7, 8, 8, 8])

In [69]:
np.tile(d, 2)

array([1, 5, 7, 8, 1, 5, 7, 8])